// Variables and mixins
@import 'core/variables';
@import 'core/reset';
@import 'mixins/spacing';

// Core CSS
@import 'core/typography';
@import 'core/layout';

// Components
@import 'components/navbar';
@import 'components/banner';
@import 'components/products';