.cart__wrapper {
  background: $black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: fixed;
}

.cart__sidebar {
  display: flex;
  flex-direction: column;
  background: $gray-soft;
  position: fixed;
  z-index: 999;
  right: 0;
  width: 350px;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar--close {
  right: -700px;
}

.wrapper--close {
  display: none;
}

.cart__header {
  background: $white;
  height: 63px;
  padding: 20px;
  display: flex;
  align-items: baseline;
}
.cart__header__btn {
  cursor: pointer;
  margin-right: 1rem;
}
.cart__header__title {
  font-size: 20px;
  font-weight: 400;
}

.cart__body {
  flex: 1;
}

.cart__footer {
  background: $white;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 141px;
}

.cart__product {
 display: flex;
 border-bottom: 1px $gray-smooth solid;
 padding: 1rem;
 margin: 0 0.8rem;
}

.cart__info {
  display: flex;
  flex-direction: column;
}

.cart__info__top {
  display: flex;
  align-items: start;
  flex: 1;
}

.cart__info__bottom {
  display: flex;
  justify-content: space-between;

  .bottom__price {
    color: $purple-medium;
    font-size: 20px;
    font-weight: 700;
  }
}


.cart__product__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 0 0.3rem;
}

.product__remove {
  cursor: pointer;
}