.cart__wrapper {
  background: $black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: fixed;
}

.cart__sidebar {
  display: flex;
  flex-direction: column;
  background: $gray-soft;
  position: fixed;
  z-index: 999;
  right: 0;
  width: 350px;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar--close {
  right: -700px;
}

.wrapper--close {
  display: none;
}

.cart__header {
  background: $white;
  height: 63px;
  padding: 20px;
  display: flex;
  align-items: baseline;
}
.cart__header__btn {
  cursor: pointer;
  margin-right: 1rem;
}
.cart__header__title {
  font-size: 1.25rem;
  font-weight: 400;
}

.cart__body {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.cart__footer {
  background: $white;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 0 0.8rem;
  padding-bottom: 0.5rem;
}

.cart__product {
 display: flex;
 padding: 1rem;
 margin: 0 0.8rem;
}
.cart__product__img img {
  width: 80px;
}
.cart__product:not(:last-child) {
  border-bottom: 1px $gray-smooth solid;
}

.cart__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart__info__top {
  display: flex;
  align-items: flex-start;
  flex: 1;
  justify-content: space-between;
}

.cart__info__bottom {
  display: flex;
  justify-content: space-between;

  .bottom__price {
    color: $purple-medium;
    font-size: 1.25;
    font-weight: 700;
  }
}

.cart__increment {
  display: flex;
  flex-direction: row;
  border: 1px solid $gray-smooth;
  border-radius: 3%;
  input {
    width: 1.25rem;
    text-align: center;
    border: none;
    background: transparent;
  }
  button {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    font-size: 0.9375rem;
    font-weight: 700;
    color: $gray-dark;
    &:focus {
      outline: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}


.cart__product__title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 16px;
  padding-right: 1rem;
}

.product__remove {
  cursor: pointer;
}

.cart__subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem;

  .title {
    text-transform: uppercase;
    font-size: 0.625rem;
    color: $gray-dark;
    font-weight: 600;
  }

  .price {
    font-size: 1.5rem;
    font-weight: 700;
    color: $purple-medium;
  }
}

// Media queries to small devices less then 720px
@media (max-width: $screen-md) {
  .cart__sidebar {
    width: 100%;
  }
}