.cart__wrapper {
  background: $black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: fixed;
}

.cart__sidebar {
  background: $gray-soft;
  position: fixed;
  z-index: 999;
  right: 0;
  width: 350px;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar--close {
  width: 0;
}

.cart__header {
  background: $white;
  height: 63px;
  padding: 20px;
  display: flex;
  align-items: baseline;
}
.cart__header__btn {
  cursor: pointer;
  margin-right: 1rem;
}
.cart__header__title {
  font-size: 20px;
  font-weight: 400;
}