@import '@/assets/scss/core/_variables';
@import '@/assets/scss/core/_colors';

.header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  background: $white;
}

.header__container {
  display: flex;
  align-items: center;
  height: 88px;
}
.header__logo {
  margin-right: 3rem;
}
.header__cart {
  position: relative;
}
.cart__total {
  position: absolute;
  bottom: 1px;
  right: 1px;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50%;
  color: #5cb79f;
  font-weight: 600;
  display: flex;
  font-size: 11px;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar__item {
  margin: 0 1rem;
}

.navbar__link {
  color: $gray-dark;
  text-decoration: none;
  font-size: 1.25rem;
  padding-bottom: 28px;
  &:hover {
    color: $purple-dark;
    border-bottom: 3px solid $purple-dark;
  }
}

@media (max-width: $screen-lg) {
  .navbar {
    display: none;
  }
  .header__container {
    justify-content: space-between
  }
}