@import '@/assets/scss/core/_variables';
@import '@/assets/scss/core/_colors';

.header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.header__container {
  display: flex;
  align-items: center;
  height: 88px;
}
.header__logo {
  margin-right: 3rem;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar__item {
  margin: 0 1rem;
}

.navbar__link {
  color: $gray-dark;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: $font-default;
  padding-bottom: 28px;
  &:hover {
    color: #b6116e;
    border-bottom: 3px solid #b6116e;
  }
}

@media (max-width: $screen-lg) {
  .navbar {
    display: none;
  }
  .header__container {
    justify-content: space-between
  }
}