.products {
  display: flex;
  justify-content: space-between;
}
.product__item {
  background: $white;
  box-shadow: 0 2px 5px rgba(0,0,0,.05);
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding: 0.7rem 0;
}
.product__description {
  color: $gray-hiper;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
}
.product__info {
  position: relative;
  width: 50%;
  padding: 0.3rem;
}
.buy-box {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.product__price {
  color: $gray-medium;
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration-line: line-through;
}
.product__customer {
  margin: 0.7rem 0 0.2rem 0;
  color: #1D1D1B;
  display: block;
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
}
.product__member-price {
  color: $purple-medium;
  font-weight: 700;
  .symbol {
    font-size: 0.875rem;
    margin-right: 0.2rem;
  }
  .integer {
    font-size: 1.25rem;
  }
  .decimal {
    font-size: 1.125rem;
  }
}

.product__btn {
  margin: 0.5rem 0;
  background: $purple-medium;
  border-radius: 0.25rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.8rem;
  width: 100%;
}